<div *ngIf="!loading">
  <div class="container card shadow mt-3">
    <div class="order-name-header">
      <div class="order-name">
        <div class="row cart-restaurant-name">{{order.restaurant_name}}</div>
        <div class="row cart-restarant-address">Address : {{order.restaurant_address}}</div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-9">
        <div class="row">
          <table class="table table-borderless cart-table">
            <thead>
              <tr class="table-head-row">
                <th>Item</th>
                <th>Price</th>
                <th>Quanity</th>
                <th>Total Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of order.product" class="item-row">
                <td class="item-name">{{item.product_name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.price * item.quantity}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="row total-price">
            <span class="price-text">Total Price :</span>
            <span class="price-number"> &#8377;{{order.product | totalPrice}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
