.order-name-header {
    border-bottom: 1px solid black;
    padding: 15px 3px 15px 15px;
    display: flex;
    justify-content: space-between;
}

.cart-restaurant-name {

    font-size: 20px;
    font-weight: 500;
}

.cart-restarant-address {
    padding-left: 0px;
}

.cart-table {
    vertical-align: middle;
    margin: 10px;
}

.table-head-row {
    text-align: center;
    border-bottom: 1px solid gray;
}

.item-row {
    border-bottom: 1px solid #e5e5e5;
    font-size: 14px;
    text-align: center;
}

.item-name {
    text-align: left;
    width: 500px;
    font-weight: 600;
}

.total-price {
    justify-content: center;
}

.price-text {
    margin-top: 7px;
    font-size: 20px;
    width: auto;
}

.price-number {
    font-size: 30px;
    font-weight: 700;
    width: auto;
}