.header-image {
    width: auto;
    height: 50px;
}

.logo-name {
    display: inline-flex;
    align-items: center;
}

.navbar-collapse {
    justify-content: space-between;
}

.navbar-right {
    display: flex;
}

.navbar-select {
    width: 400px;
}


.navbar-cart {
    width: 40px;
    margin: 0 20px;
}

.cart-img {
    height: 40px;
}

.order-button {
    text-decoration: none;
    color: rgb(18, 17, 17);
}