.logo-name {
    display: inline-flex;
    align-items: center;
}

.header-image {
    width: auto;
    height: 50px;
}

.navbar-collapse {
    justify-content: space-between;
}

.navbar-right {
    display: flex;
}

.navbar-select {
    width: 400px;
}

.navbar-cart {
    width: 40px;
    margin: 0 0 0 20px;
}

.cart-text {
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.cart-img {
    height: 30px;
}