<div class="container card shadow control-container">
    <div class="row control-row">
        <div class="col-md-4">
            <input type=" text" class="form-control" [(ngModel)]="searchName" placeholder="Search Name"
                (keyup)="setNameParams()">
        </div>
        <div class="col-md-4">
            <select class="form-select" [(ngModel)]="selectedCity" (change)="setCityParams()">
                <option [ngValue]="null" [disabled]="true">Select City</option>
                <option [ngValue]="null">None</option>
                <option *ngFor="let city of cities" [ngValue]='city'>{{city.name}}</option>
            </select>
        </div>
        <div class="col-md-4">
            <a href="home-page/restaurant/add"><button class="btn btn-success float-end">Add Restaurant</button></a>
        </div>
    </div>
</div>
<div class="container card shadow">
    <table class="table table-borderless restaurantlist-table">
        <thead>
            <tr class="table-head-row">
                <th>Photo</th>
                <th>Name</th>
                <th>City</th>
                <th>Address</th>
                <th>Cuisines</th>
                <th>Order</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rest of restaurantData" class="restaurant-row">
                <td class="restaurant-thumbnail-container"><a [routerLink]="['../restaurant',rest.ext_id]"
                        class="restaurant-name-label"><img class="restaurant-thumbnail" src={{rest.image_url}}
                            onerror="this.src='https://www.feednavigator.com/var/wrbm_gb_food_pharma/storage/images/_aliases/news_large/9/2/8/5/235829-6-eng-GB/Feed-Test-SIC-Feed-20142.jpg'">
                    </a></td>
                <td><a [routerLink]="['../restaurant',rest.ext_id]" class="restaurant-name-label">{{rest.name}}</a></td>
                <td>{{rest.city}}</td>
                <td>{{rest.address}}</td>
                <td>{{rest.cuisines}}</td>
                <td><a [routerLink]="['../products']" [queryParams]="{restaurant: rest.ext_id}">Attach Order</a></td>
            </tr>
        </tbody>
    </table>
    <div class=" row">
        <div class="pagination">
            <a queryParamsHandling="merge" *ngIf="currentPage > 1" [routerLink]="[]"
                [queryParams]="{page: currentPage - 1}">&laquo;</a>
            <ng-container *ngFor="let item of [].constructor(5); let i = index">
                <a [ngClass]="{'active': this.currentPage ==  i + 5 * this.multiplier +1}" queryParamsHandling="merge"
                    [routerLink]="[]" [queryParams]="{page: i + 5 * this.multiplier + 1}"
                    *ngIf="i + 5 * this.multiplier + 1 <= maxPage">{{i + 5 * this.multiplier +1}}</a>
            </ng-container>
            <a queryParamsHandling="merge" [routerLink]="[]" *ngIf="currentPage < maxPage"
                [queryParams]="{page: currentPage + 1}">&raquo;</a>
        </div>
    </div>
</div>