<div *ngIf="emptyCart" class="container card shadow empty-cart-message">The cart is empty, Please add items</div>
<div *ngIf="!emptyCart">
  <div *ngFor="let rest of iterCart">
    <div class="container card shadow cart-display">
      <div class="order-name-header">
        <div class="order-name">
          <div class="row cart-restaurant-name">{{rest.restaurant.name}}</div>
          <div class="row cart-restarant-address">Address : {{rest.restaurant.address}}</div>
        </div>
        <div class="order-delete"><button class="btn btn-danger" (click)="onOrderDelete(rest.restaurant.ext_id)">Delete
            Order</button></div>
      </div>
      <div class="row mb-3">
        <div class="col-md-9">
          <div class="row">
            <table class="table table-borderless cart-table">
              <thead>
                <tr class="table-head-row">
                  <th>Item</th>
                  <th>Price</th>
                  <th>Quanity</th>
                  <th>Total Price</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of rest.cart" class="item-row">
                  <td class="item-name">{{item.product_name}}</td>
                  <td>{{item.price}}</td>
                  <td><select class="quantity-input" [(ngModel)]="item.quantity"
                      (change)="onQuantityChange(rest.restaurant.ext_id, item.id, $event.target)">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select></td>
                  <td>{{item.price * item.quantity}}</td>
                  <td>
                    <button (click)="onItemDelete(rest.restaurant.ext_id, item.id)"
                      class="btn btn-outline-danger">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="row total-price">
              <span class="price-text">Total Price :</span>
              <span class="price-number"> &#8377;{{rest.cart | totalPrice}}</span>
            </div>
          </div>
          <div class="row place-order-row">
            <button class="btn btn-success order-button" (click)="placeOrder(rest)">Place Order</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
