<div class="row">
  <div class="col welcome-text">Welcome to Premium Delivery</div>
</div>
<div class="row">
  <form [formGroup]="regForm" (ngSubmit)="register()">
    <div class="col form-field">
      <label for="fnamefield">First Name</label>
      <input type="text" id="fnamefield" class="form-control" formControlName="firstName">
      <div *ngIf="formControl.firstName.touched && formControl.firstName.errors" class="text-danger">
        <div *ngIf="formControl.firstName.errors['firstName']">Email must be valid.</div>
        <div *ngIf="formControl.firstName.errors['required']">Email is required.</div>
      </div>
    </div>
    <div class="col form-field">
      <label for="lnamefield">Last Name</label>
      <input type="text" id="lnamefield" class="form-control" formControlName="lastName">
    </div>
    <div class="col form-field">
      <label for="emailfield">Email</label>
      <input type="text" id="emailfield" class="form-control" formControlName="email">
    </div>
    <div class="col form-field">
      <label for="passwordfield">Password</label>
      <input type=" text" id="passwordfield" class="form-control" formControlName="password">
    </div>
    <div class="col pt-2">
      <button class="btn btn-secondary m-1" type="submit" (click)="goToLogin()">Back to Login</button>
      <button class="btn btn-success m-1" type="submit">Register</button>
    </div>
  </form>
</div>
