<div *ngIf="!loading">
  <div class="container card shadow intro-message">
    Welcome to Premium Delivery<br><br>
    Instructions:<br>
    <ul>
      <li>Go to <b>Restaurants</b> page from the page header.</li>
      <li>One can View/Edit Restaurant details by clicking on restaurant name or image. </li>
      <li>To create an order for particular restaurant click on <b>attach orders</b>.</li>
      <li>One can filter products on product selection page.</li>
      <li>Choose quantity & add products to Cart.</li>
      <li>Go to <b>Cart</b> page from page header & click on place order to create an Order.</li>
      <li>To view all the past orders click on <b>Orders</b> from page header.</li>
    </ul>
  </div>
</div>
