<div class="row">
  <div class="col welcome-text">Welcome to Premium Delivery</div>
</div>
<div class="row">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="col form-field">
      <label for="emailfield">Email</label>
      <input type="text" id="emailfield" class="form-control" formControlName="email">
      <div *ngIf="(formControl.email.touched || submitted) && formControl.email.errors" class="text-danger">
        <div *ngIf="formControl.email.errors['email']">Email must be valid.</div>
        <div *ngIf="formControl.email.errors['required']">Email is required.</div>
      </div>
    </div>
    <div class="col form-field">
      <label for="passwordfield">Password</label>
      <input type="password" id="passwordfield" class="form-control" formControlName="password">
      <div *ngIf="(formControl.password.touched || submitted) && formControl.password.errors" class="text-danger">
        <div *ngIf="formControl.password.errors['required']">Password is required.</div>
      </div>
    </div>
    <div class="col pt-4">
      <button class="btn btn-success m-3" type="submit">Login</button>
    </div>
    <div *ngIf="submitted && error" class="text-danger">
      Check Login Details
    </div>
  </form>
</div>
