.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.cover-container {
  overflow: hidden;
}

.cover-image {
  width: 100%;
  height: 580px;
  border-radius: 10px;
  object-fit: cover;
}

.logo-image {
  height: 200px;
  width: auto;
}

.demo-login-card-row {
  justify-content: center;
}

.demo-login-card {
  border: 1px grey solid;
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  align-items: center;
  font-size: 12px;
  text-align: left;
}