.control-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.control-row {
    margin-top: 15px;
    margin-bottom: 15px;
}

.table-head-row {
    text-align: center;
    border-bottom: 1px solid gray;
}

.no-order-text {
    padding: 40px;
    text-align: center;
}

tbody:before {
    line-height: 2em;
    content: ".";
    color: white;
    display: block;
}

.order-row {
    border-bottom: 1px solid #e5e5e5;
    font-size: 14px;
}

.pagination {
    justify-content: center;
    padding-bottom: 10px;
}

.pagination button {
    width: 40px;
    height: 40px;
    background-color: white;
    border: none;
}

.pagination button.active {
    background-color: #016399;
    border-radius: 2px;
    color: white;
}